.container{height: 297mm;
    width: 210mm;
    background-color: white;
}

img{width: 130px;
    border-radius: 50%;
}


.col-1{background-color: #A06CE0}


.b1{background-color: #8E77BA;}


li{color: black;
    
}